@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Katibeh&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Oswald;
}

.navLoginBackground,
.navBackground{
    width: 100%;
    height: min-content;
    background-color: #653398;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.navLoginBackground{
    padding-bottom: 60px;
    margin-bottom: 100px;
}

.logo{
    width: 50px;
    height: 50px;
}

.navBar{
    width: 50%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: unset;
    font-size: 25px;
    color: white;
    transition: all 0.3s ease;
}

.active{
    color: #F34F3A;
}

a:hover{
    text-decoration: underline;
}

.searchBtn{
    background: none;
    border: none;
    height: min-content;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.searchBtn:hover{
    transform: scale(1.1);
}

.search{
    height: 25px;
    width: 25px;
}

.header{
    width: 100%;
    height: 500px;
    background-color: #653398;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.name{
    display: flex;
    gap: 40px;
    font-size: 60px;
}

.orangeName{
    color: #F34F3A;
}

.service{
    font-size: 25px;
}

.headerContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

#bodyContainer{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 10%;
}

.pakketContent{
    min-width: 50%;
    width: 50%;
}

.title{
    border-left: 5px solid #F34F3A;
    padding-left: 10px;
    margin-bottom: 30px;
    color: black;
}

p{
    font-family: Arial;
    color: #8C8C8C;
    font-size: 20px;
}

.pakketTxt{
    margin-bottom: 100px;
}

#pakketContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pakketEasy,
.pakketFunctionals,
.pakketPro,
.pakketHeavy{
    width: 324px;
    height: 200px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pakketBox{
    padding: 40px;
    width: 324px;
    height: 200px;
}

.flower{
    width: 50px;
}

.pakketTitle{
    font-size: 30px;
    font-weight: normal;
}

.pakketLink{
    transition: transform 0.3s ease;
}

.pakketLink:hover{
    text-decoration: none;
    transform: scale(1.05);
}

.pakketName{
    color: white;
    font-size: 15px;
}

.today{
    margin-bottom: 100px;
}

#username,
#password,
#name,
#email,
#subject{
    border: none;
    border-bottom: 3px solid #F34F3A;
    width: 500px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: Arial;
}

#username:focus,
#password:focus,
#message:focus,
#name:focus,
#email:focus,
#subject:focus{
    outline: none;
    font-family: Arial;
    font-size: 20px;
}

#message{
    width: 500px;
    border: 3px solid #F34F3A;
    resize: none;
    height: 150px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Arial;
    font-size: 20px;
}

#submit{
    width: 150px;
    height: 50px;
    border: none;
    background-color: #653398;
    color: white;
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#submit:hover{
    transform: scale(1.1);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactUs,
.mailUs,
.callUs{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.contactUs{
    margin-bottom: 0px;
}

.contactImg{
    height: 25px;
}

#contactContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 300px;
    margin-bottom: 100px;
    margin-top: -100px;
}

.pakketten{
    display: flex;
    flex-wrap: wrap;
    margin: -100px 100px 100px;
    gap: 50px;
}

.pakketEen,
.pakketTwee,
.pakketDrie,
.pakketVier{
    width: 643px;
    height: 380px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.productTitle{
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.productZin{
    color: white;
    font-family: Arial;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.voordeel{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial;
    font-size: 20px;
}

.pakketVoordelen{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.productOrder{
    border: none;
    background-color: white;
    font-family: Oswald;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.orderBtn{
    margin-left: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.orderBtn:hover{
    transform: scale(1.1);
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.loginFormContainer{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: -100px auto 100px;
}

.footer {
    background-color: #653398;
    position: relative;
    color: white;
    overflow: hidden;
}
   
.footerWave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
   
.footerWave svg {
    display: block;
    width: 100%;
    height: 80px;
}
   
.footerContainer {
    padding: 60px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    z-index: 1;
    color: white;
}
   
.footerInfo {
    font-size: 16px;
    color: white;
}

.check{
    width: 20px;
}

.voordelen{
    margin: 20px 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.voordeelPakket{
    display: flex;
    gap: 10px;
}

.orderPakketBtn{
    width: 150px;
    height: 50px;
    background-color: #653398;
    color: white;
    border: none;
    font-family: Oswald;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.orderPakketBtn:hover{
    transform: scale(1.1);
}

ul{
    color: #8C8C8C;
    font-family: Arial;
    font-size: 20px;
    margin-left: 70px;
    list-style-image: url("../images/ulDot.svg");
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 50px;
}

.dataTable{
    margin-top: -160px;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableHeader{
    background-color: #F34F3A;
    color: white;
    height: 50px;
}

.tableRow{
    height: 50px;
    font-size: 20px;
}

.tableCell{
    border: 1px solid black;
    width: 316px;
}

.tableHeaderCell{
    border: 1px solid black;
}

#colOne{
    font-weight: bold;
}

.newsTableContainer{
    margin-top: -160px;
    margin-bottom: 100px;
}

.newsTable{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: Arial;
}

.newsHead{
    background-color: #F34F3A;
    color: white;
    height: 70px;
}

.newsHeadCell{
    padding: 10px;
    text-align: left;
    min-width: 190px;
    border: 1px solid black;
}

.newsRowCell{
    padding: 10px;
    border: 1px solid black;
}

#deleteNews{
    text-align: center;
    padding: 20px 0;
}

.deleteImg{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;
}

.deleteImg:hover{
    transform: scale(1.1);
}

.editContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 100px 100px;
}

.editForm{
    margin-left: 100px;
}

.editLabel{
    font-size: 20px;
}

#titel{
    border: unset;
    border-bottom: 3px solid #F34F3A;
    width: 40%;
    font-family: Arial;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 10px 5px;
}
#content:focus,
#titel:focus{
    outline: unset;
}

#content{
    border: 3px solid #F34F3A;
    width: 40%;
    resize: none;
    height: 300px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial;
}

.editBtn{
    border: none;
    width: 150px;
    height: 50px;
    background-color: #F34F3A;
    color: white;
    font-weight: bold;
    font-family: Oswald;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.editBtn:hover{
    transform: scale(1.1);
}

.addNewsBtn{
    width: fit-content;
    height: 50px;
    background-color: #F34F3A;
    padding: 0px 30px;
    transition: transform 0.3s ease;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.addNewsBtn:hover{
    text-decoration: none;
    transform: scale(1.1);
}

.view{
    color: black;
    font-size: 20px;
}

.newsHeader{
    display: flex;
    width: 100%;
    padding: 50px 100px;
    background-color: #653398;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.newsLogo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

#pakketOmschr{
    border: 3px solid #F34F3A;
    margin: 20px 0;
    resize: none;
    width: 40%;
    height: 100px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px;
}

#pakketOmschr:focus{
    outline: unset;
}

.orderBtn{
    width: fit-content;
    background-color: #F34F3A;
    border: unset;
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 50px;
    padding: 0 20px;
}

#ordered{
    width: 50%;
    text-align: center;
    margin: 150px auto;
}

.bedanktTitle{
    font-size: 50px;
    color: #F34F3A;
    margin: 30px 0;
}

.bedanktLogo{
    width: 200px;
}

.bedanktZin{
    color: white;
    margin: 0 0 30px;
}

.backHome{
    color: white;
}